<%- include('header'); -%>
<h1><%= title %></h1>
<p>Liste des jeux</p>
<div class="container">
    <div class="row">
        <% games.forEach((game) => { %>
            <div class="col-4">
                <h2 class="game-title"><%= game.title %></h2>
                <div class="game-container">
                    <img class="game-image img-thumbnail" src="<%= game.image %>" alt="<%= game.title %>" width="400px" height="auto">
                    <div class="game-button">
                        <button class="btn btn-primary">Rejoindre</button>
                        <button class="btn btn-secondary">Créer</button>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>
<%- include('footer'); -%>